<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../_head.ejs') %>

    <title>Login Page</title>
</head>
<body>
    <header>
        <%- include('../_header.ejs') %>
    </header>
    <main>
        <div>
            <h2>Login</h2>
            <h3><%= msg %></h3>
            <form action="/login" method="POST">
                <div class="form-group">
                    <div class="input-group mb-2 border">
                        <label class="sr-only" for="email">Email</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                        </div>
                        <input type="email" class="form-control" name="email" id="email">
                        <br>
                    </div>
                    <div class="input-group mb-2 border">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">Password</div>
                        </div>
                        <input type="password" class="form-control" name="password" id="password">
                        <br>
                    </div>
                <button type="submit" class="btn btn-secondary bg-dark submit">Login</button>
            </div>
            </form>

            <div class="card dashcard border" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">Use below info for Testing</h3>
                    <p>Email: testing@now.com</p>
                    <p>Password: 1234</p>
                </div>
            </div>
        </div>
    </main>
<%- include("../_footer.ejs") %> 
    
</body>
</html>