<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../_head.ejs') %>

    <title>Register Page</title>
</head>
<body>
    <header>
        <%- include('../_header.ejs') %>
    </header>
    <main>
        <div>
            <h2 class="card border reg-title disflex">Register</h2>
            <h3><%= msg %></h3>
            <form action="/register" method="POST">
                <div class="form-group">
                    <div class="border form-line">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="border form-control" name="name" id="name">
                        <br>
                    </div>
                    <div class="border form-line">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="border form-control" name="email" id="email">
                        <br>
                    </div>
                    <div class="border form-line">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" class="border form-control" name="password" id="password">
                        <br>
                    </div>
                <button type="submit" class="btn btn-secondary border submit tm-20">Register</button>
            </div>
            </form>
        </div>
    </main>
<%- include("../_footer.ejs") %> 
    
</body>
</html>