<footer class="bg-dark">
    <section class="about-us tony">
        <a href="mailto:xtonyyu@gmail/com" class="footer-div"><i class="fa fa-envelope-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/xtonyyu/" class="footer-div"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/xTonyYu" class="footer-div"><i class="fa fa-github-square fa-2x"></i></a>
        <h4>Tony Yu</h4>  
    </section>
    <section class="about-us luci">
        <h4>Lucian Nicolescu</h4>
        <a href="#" class="footer-div"><i class="fa fa-envelope-square fa-2x"></i></a>
        <a href="https://github.com/RonsterJ" class="footer-div"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="#" class="footer-div"><i class="fa fa-github-square fa-2x"></i></a>      
    </section>
</footer>