<section class="logo">
    <h1>The Elegant Cellos and Violins</h1>
    <p>add image here</p>
</section>
<nav>
    <a href="/home"><button class="navButt">Home</button></a>
    <a href="/cellos"><button class="navButt">Cellos</button></a>
    <a href="/violins"><button class="navButt">Violins</button></a>
    <a href="/accessories"><button class="navButt">Accessories</button></a>
    <a href="/sales"><button class="navButt">Sales</button></a>
</nav>