<section class="logo">
    <h1>The Elegant Cellos and Violins</h1>
    <p>add image here</p>
</section>
<nav>
    <a href="/home">Home</a>
    <a href="/coreproducts/cellos">Cellos</a>
    <a href="/coreproducts/violins">Violins</a>
    <a href="/accessories">Accessories</a>
    <a href="/sales">Sales</a>
</nav>