<!-- <section class="logo">
    <h1>The Elegant Cellos and Violins</h1>
    <p>add image here</p>
</section> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/accessories1.jpeg" class="d-block w-100 data-interval='5000'" alt="blindfuck">
        </div>
        <div class="carousel-item">
            <img src="/images/cello3.jpeg" class="d-block w-100 data-interval='5000'" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/cello3.jpeg" class="d-block w-100 data-interval='5000'" alt="...">
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                 <a class="nav-link active" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cello">Cellos</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="/violin">Violins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accessories">Accesories</a>
            </li>
                <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
            </li>
        </ul>
    </div>
</nav>
