<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <h4><%= Product.name %></h4>
            <!-- placeholder fields -->
            <p>Maker: <%= Product.maker %> </p>
            <p>year: <%= Product.year %> </p>
            <p>players: <%= Product.players %> </p>
            <button>edit</button>
            <button>delete</button>
        </div>
        <div><img src="" alt=""></div>
        <div>logs of events related to this product</div>
        <div>description and history</div>
    </main>
    
</body>
</html>