<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1><%= prodType %></h1>
        <form>
            <% for (let [key, value] of Object.entries(accessorySchema)) { %>
                <% if (accessorySchema.key === 'description') return; %>
                <%= `${key}: ` %><input type="text" name="<%= `${key}` %>" id=""><br>
            <% } %>  
        </form>
        <div>
            <form action="">
                type: dropdown
                name: <input type="text">
                maker: <input type="text">
                other details: <input type="text">
            </form>
            <form action="" name="maker">
                name: <input type="text">
                years: <input type="text">
                bio: <input type="text">
            </form>
        </div>
    </main>
    
</body>
</html>