
/* index */
.products {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin: 10px;
}

.title h2 {
    font-size: 60px;

}

.table-row {
    width: 70vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: solid 3px steelblue;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(119, 191, 250), 2px 2px  rgb(119, 191, 250), 1px 1px  rgb(119, 191, 250);
    padding: 5px;
    margin: 5px;
}
.table-cell {
    display: inline-block;
    height: 100%;
    padding: 3px;
    align-content: center;
    vertical-align: middle;
}
.row-name {
    width: 30%;
    min-width: 200px;
}
.row-status {
    margin: 0;
    width: 7%;
    min-width: 80px;
}
.row-quantity {
    width: 3%;
    min-width: 50px;
}

.row-price,
.row-cost {
    width: 10%;
    min-width: 120px;
}
.row-price-cost {
    width: 20%;
    min-width: 250px;
}
.row-action {
    display: flex;
}
.btn {
    margin: 2px;
}