* {
    box-sizing: border-box;
}
body {
    background-image: url('/images/IMG_20170825_180318.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    background-size: cover;
}
.lk-rm {
    color: black;
}
.txt-sl {
    color: lightgray;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 60px 0;
}

.delete-btn {
    background-color: rgba(117, 5, 5, 0.925);
}

/* header */
.carousel-item {
    height: 200px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.navbar {
    box-shadow: 0px 3px 2px;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
}
.navbutt {
    border: 1px solid black;
}

div .container {
    margin: 0 0 0 0;
}

/* Dashboard */
#dashboard {
    width: 80vw;
}
.dashcard {
    box-shadow: 4px 4px 3px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    position: relative;
    background-color: lightgray;
    border: solid 3px steelblue;
    border-radius: 20px;
    margin: 5px;
}
.card-body {
    padding: 15px 15px 50px 15px;
}
.card-body p {
    display: block;
    margin-bottom: 10px;
}
.dash-btn-grp {
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex; 
    justify-self: flex-end;
}
.btn {
    margin: 2px;
}

/* forms */
form {
    display: flex;
    justify-content: center;
}
.form-group {
    width: 80vw;
    display: block;
    justify-content: center;
}

.form-control {
    width: 100%;
}

/* footer */

footer {
    border-radius: 10px 10px 0 0;
    color: lightgray;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-div {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 50px; */
    height: 100%;
}

.about-us {
    display: flex;
    height: 50px;
    padding: 3px;
    justify-content: center;
    align-items: center;
}
.luci,
.tony {
    padding: 0px 10px;
    border-right: 1px solid lightgray;
}

.about-us a { 
    color: inherit; 
} 
