* {
    box-sizing: border-box;
}
body {
    background-image: url("https://thumbs.dreamstime.com/b/old-cello-wood-texture-wooden-dusty-scratched-surface-119888517.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    background-size: cover;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 60px 0;
}

.delete-btn {
    background-color: rgba(117, 5, 5, 0.925);
}

/* header */
.carousel-item {
    height: 200px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
}
.navbutt {
    border: 1px solid black;
}

div .container {
    margin: 0 0 0 0;
}

/* Dashboard */
#dashboard {
    width: 80vw;
}

.dashcard {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    position: relative;
    border: solid 3px steelblue;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(119, 191, 250), 2px 2px  rgb(119, 191, 250), 1px 1px  rgb(119, 191, 250);
    margin: 5px;
}
.card-body {
    padding: 15px 15px 50px 15px;
}
.card-body p {
    display: block;
    margin-bottom: 10px;
}
.dash-btn-grp {
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex; 
    justify-self: flex-end;
}
.btn {
    margin: 2px;
}

/* .product-type {
    display: flex;
    width: 40%;
    justify-content: center;
}
.finances {
    display: flex;
    width: 40%;
    justify-content: center;
} */


/* forms */
form {
    display: flex;
    justify-content: center;
}
.form-group {
    width: 80vw;
    display: block;
    justify-content: center;
}

.form-control {
    width: 100%;
}

/* footer */

footer {
    border-radius: 10px 10px 0 0;
    color: lightgray;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-div {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 50px; */
    height: 100%;
}

.about-us {
    display: flex;
    height: 50px;
    padding: 3px;
    justify-content: center;
    align-items: center;
}
.luci,
.tony {
    padding: 0px 10px;
    border-right: 1px solid lightgray;
}

.about-us a { 
    color: inherit; 
} 
