* {
    box-sizing: border-box;
}

/* header */
.logo {
    display: flex;
    justify-content: center;
    width: 100vw;
}
nav {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.navbutt {
    border: 1px solid black;
}


body {
    margin: 0;
    background-color: cadetblue;
}


/* Dashboard */

#dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
}

.product-type {
    display: flex;
    width: 40%;
    justify-content: center;
}
.finances {
    display: flex;
    width: 40%;
    justify-content: center;
}

/* index */
.products {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.product-table {
    justify-content: center;
    display: flex;
}

.products div {
    display: flex;
    justify-content: center;
}