/* Show page */

.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-width: 450px;
}

.card,
.description,
.show-photo {
    margin: 10px auto;
    width: 100%;
    border: solid 3px steelblue;
    border-radius: 20px;
    box-shadow: 4px 4px 3px;
}
.card-body {
    padding: 5px 15px;
    margin: 0;
}

.btn-group {
    margin: 0 10px 5px 0;
    padding: 3px;
}
.btn {
    margin: 2px;
}

.description {
    background-color: lightgray;
    padding: 15px;
}